.product-card{
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 247, 238);
  padding: 0.8rem;
}
.product-card__title{
  margin-bottom: 1rem;
}
.product-card__image{
  width: 100%;
}
.product-card__price{
  font-weight: 800;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.product-card__link{
  text-decoration: none;
  color: black;
  width: 70%;
  text-align: center;
  margin: 0.6rem 0;
  padding: 0.6rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 1rem;
}
.product-card__link:hover{
  background-color: antiquewhite;
}