.navbar {
  background-color: #847d84;
  color: white;
  padding: 1rem;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.navbar-links {
  display: flex; /* Mostrar enlaces en fila en pantallas grandes */
  font-size: 1.4rem;
  font-weight: 800;
}
.selected {
  background-color: #e0e0e0;
  color: black;
}
.navbar-links ul {
  list-style: none;
  display: flex; /* Mostrar horizontalmente */
  padding: 0;
  gap: 1.5rem;
}
.navbar__link {
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  background-color: #847d84;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.navbar__link:hover {
  background-color: #e0e0e0;
  color: black;
}
.selected {
  background-color: #e0e0e0;
  color: black;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar-links {
    display: block; /* Mostrar enlaces en bloque en pantallas pequeñas */
  }

  .navbar-links ul {
    display: block; /* Mostrar verticalmente */
  }

  .navbar-links ul li {
    margin: 0.5rem 0; /* Espaciado entre enlaces verticales */
  }
}