.item-detail{
  color: white;
  width: 25%;
  min-width: 250px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid white;
}
.item-detail__title{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.item-detail__image{
  width: 100%;
}
.item-detail__info{
  margin-top: 1rem;
  font-size: 1.1rem;
}
.item-detail__info p{
  margin: 0.5rem 0;
}
.item-detail__info p span{
  font-weight: 800;
}
.item-detail__buy-button{
  display: flex;
  margin: 1.5rem auto 0;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 0.7rem;
  justify-content: center;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid black;
}
.item-detail__buy-button:hover{
  color: white;
  background-color: green;
  border: 2px solid white;
}
.item-detail__checkout-button__container{
  margin-top: 2rem;
  display: flex;
}
.item-detail__checkout-button{
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin: 0 auto;
}
.item-detail__checkout-button:hover{
  color: white;
  background-color: green;
}

@media (min-width: 768px) {
  .item-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 2rem;
    width: 60%;
    margin: 0 auto;
  }
  .item-detail__image {
    grid-column: 1; 
    grid-row: 1 / span 4; 
    object-fit: contain;
    width: 100%;
    margin: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .item-detail__info {
    grid-column: 2; 
    grid-row: 2; 
    text-align: center; 
    row-gap: 0.8rem;
    margin: auto;
  }
  .item-detail__title {
    grid-column: 2; 
    grid-row: 1; 
    font-size: 1.8rem;
    margin: auto;
    text-align: center;
  }

  .item-detail__buy-button {
    grid-column: 2; 
    grid-row: 4; 
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .item-detail {
    width: 630px;
  }
  .item-detail__buy-section {
    grid-column: 2; 
    grid-row: 4; 
  }
}