.checkout-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkout-title{
  text-align: center;
  color: white;
}
.checkout-total{
  color: white;
  align-items: center;
  margin-bottom: 20px;
}
.checkout-clear-cart-container{
  width: 100%;
  display: flex;
}
.checkout-clear-cart-button{
  margin: 0 auto 20px;
  width: 20%;
  min-width: 190px;
  padding: 15px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
.checkout-clear-cart-button:hover{
  background-color: #e4ddcf;
}
.checkout-empty-cart-message{
  color: white;
  margin-bottom: 30px;
  text-align: center;
  max-width: 80%;
}
.checkout-return-home-button{
  font-size: 20px;
  color: white;
  border: none;
  background-color: #847d84;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
}
.checkout-return-home-button:hover{
  background-color: #e0e0e0;
  color: black;
}