.products-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 4rem;
  width: 60%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 25%;
  height: 100vh; 
}

@media (max-width: 1024px) {
  .products-gallery {
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media (max-width: 600px) {
  .products-gallery {
    grid-template-columns: 1fr;
  }
}
